
body {
  text-align: center;
  padding: 10px;
  background-color: blue;
}

img{
  width: 200px;
  height: 200px;
}

.separator {
  margin-top: 40px;
}

.scene {
  display: inline-block;
  margin-top: 50px;
  width: 200px;
  height: 200px;
  
  perspective: 700px;
   
}

.cube {
  position: relative;
  width: inherit;
  height: inherit;
  
  transform-style: preserve-3d;
  transition: all 0.85s cubic-bezier(0.175,0.885,0.320,1.275);
}

.scene .cube{
  transform: rotateY(15deg) rotateX(-12deg) rotateZ(-1deg);
}

.cube-face {
  width: 200px;
  height: 200px;
  border: 1px solid #888;
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1), 0 0 50px rgba(0, 0, 0, 0.3);
  color: #333;
  position: absolute;
  opacity: 0.8;
}

.cube-face-front {
  background: orange;
  transform: rotateY(0deg) translate3d(0px, 0px, 100px);
}  

.cube-face-back {
  background: black;
  transform: rotateY(180deg) translate3d(0, 0, 100px);
} 

.cube-face-left {
  background: green;
  transform: rotateY(-90deg) translate3d(0, 0, 100px);
} 

.cube-face-right {
  background: magenta;
  transform: rotateY(90deg) translate3d(0, 0, 100px);
} 

.cube-face-top {
  background: blue;
  transform: rotateX(90deg) translate3d(0, 0, 100px);
}

.cube-face-bottom {
  background: yellow;
  transform: rotateX(-90deg) translate3d(0, 0, 100px);
}  


#radio-back:checked ~ .scene .cube {
  transform: rotateY(180deg); 
} 

#radio-left:checked ~ .scene .cube {
  transform: rotateY(90deg); 
} 

#radio-right:checked ~ .scene .cube {
  transform: rotateY(-90deg); 
}

#radio-top:checked ~ .scene .cube {
  transform: rotateX(-90deg); 
}

#radio-bottom:checked ~ .scene .cube {
  transform: rotateX(90deg); 
}